<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Component - Nested React</title>

		<script src="../../../node_modules/react/dist/react.min.js"></script>
		<script src="../../../node_modules/react-dom/dist/react-dom.min.js"></script>
		<script src="../../../src/react/Nested.js"></script>
</head>
<body>
    <h1>Component - Nested React</h1>
		<div id="main"></div>
    <script>
			ReactDOM.render(
				React.createElement(react.Nested, {count: 7}),
				document.querySelector('#main')
			);
    </script>
</body>
</html>
